* {
  margin: 0;
  padding: 0;
  color: #64B5F6; }

.Header {
  text-align: center;
  color: #42A5F5;
  height: 15vh;
  padding-top: 20px; }

.Header p {
  margin: 15px auto; }

#Body {
  display: flex;
  flex-direction: column;
  background: url(../img/imagen3.jfif);
  background-position: center;
  background-attachment: fixed;
  opacity: .9;
  min-height: 100vh; }

.Section-1 {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.Section-1 h4 {
  margin-right: 300px; }

.Section-1 div {
  display: flex;
  margin: 1rem .5rem; }

.Section-1 p {
  max-width: 550px;
  text-align: center;
  margin: 1rem; }

.Section-1 img {
  width: 300px;
  padding-left: 2rem; }

.Section-2 {
  display: flex;
  flex-direction: column;
  margin: 2rem; }

.Section-2 h4 {
  text-align: center;
  font-size: 1.5rem; }

.Footer {
  grid-area: Footer;
  background-color: #455A64;
  margin-top: auto; }

.Footer i {
  font-size: 2rem; }

.form {
  grid-area: Section-2;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center; }

.form input {
  height: 2.5rem;
  width: 350px;
  text-align: center;
  border-radius: 15px;
  background-color: #42A5F5;
  color: black; }

.form input[type=reset]:hover {
  background-color: #455A64;
  color: black; }

.form input[type=submit]:hover {
  background-color: #455A64;
  color: black; }

#textArea {
  background-color: #42A5F5;
  color: black; }

::placeholder {
  color: black; }

#propiedades {
  max-height: 700px; }

#texto {
  display: flex;
  flex-direction: column;
  margin: 20px;
  text-align: center; }

#logo {
  width: 100px;
  height: 100px; }

#servicios {
  max-width: 300px;
  max-height: 300px; }

#servicios1 {
  max-width: 200px;
  max-height: 200px; }

#carrusel {
  margin-top: 20px; }

#textoImagen {
  color: #42A5F5;
  background-color: #455A64; }

@media (max-width: 768px) {
  .ul2 {
    display: none; }
  #servicios {
    max-width: 100px;
    max-height: 100px;
    align-items: center; }
  #servicios1 {
    max-width: 75px;
    max-height: 75px;
    align-items: center; } }

@media (max-width: 480px) {
  .Section-1 img {
    display: none; }
  #servicios {
    display: none; }
  #servicios1 {
    display: none; }
  #parrafoIndex {
    display: none; } }
